@font-face {
  font-family: 'SF-UI-Display-Light';
  src: local('☺'), url('../fonts/SF-UI-Display-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#outline {
  stroke-dasharray: 2.42776657px, 242.7766571px;
  stroke-dashoffset: 0;
  animation: anim 1.6s linear infinite;
}
@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873199px, 242.7766571px;
    stroke-dashoffset: -26.70543228px;
  }
  43.75% {
    stroke-dasharray: 84.97182999px, 242.7766571px;
    stroke-dashoffset: -84.97182999px;
  }
  100% {
    stroke-dasharray: 2.42776657px, 242.7766571px;
    stroke-dashoffset: -240.34889053px;
  }
}
html {
  overflow-x: hidden;
}
body {
  background-color: #040719;
  overflow-x: hidden;
}
.container {
  display: block;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
#preloader .round-circles {
  left: 50%;
  top: 50%;
  position: absolute;
  width: 350px;
  height: 350px;
  margin-left: 0;
  margin-top: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#preloader .round-circles .circles-holder {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#preloader .round-circles .circle {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
#preloader .round-circles .circle2 {
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-animation: rotate 3s infinite linear;
  animation: rotate 3s infinite linear;
}
#preloader .round-circles .circle3 {
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
}
#preloader .round-circles .circle4 {
  top: 15%;
  right: 15%;
  bottom: 15%;
  left: 15%;
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-animation: rotate 4s infinite linear reverse;
  animation: rotate 4s infinite linear reverse;
}
#preloader .round-circles .circle5 {
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
}
#preloader .round-circles .circle6 {
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-animation: rotate 4s infinite linear;
  animation: rotate 4s infinite linear;
}
@media screen and (max-width: 960px) {
  #preloader .round-circles {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
}
.header {
  display: block;
  position: relative;
  padding: 50px 0;
  z-index: 2;
}
@media (max-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header .logo {
  display: inline-block;
  max-width: 220px;
  width: 100%;
}
.header .logo a {
  display: block;
  line-height: 0;
}
.header .logo a img {
  max-width: 100%;
}
.section {
  display: block;
  position: relative;
  max-width: 1920px;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .section {
    padding: 25px 0;
  }
}
.section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .section .container {
    display: block;
  }
}
.section.reverse-section .container {
  flex-direction: row-reverse;
}
.section.one-section {
  max-width: 1920px;
  width: 100%;
  margin: -130px auto 0;
}
@media (max-width: 1200px) {
  .section.one-section {
    margin: 0;
  }
  .section.one-section:before {
    content: '';
    position: absolute;
    top: -100px;
    right: -100px;
    width: 100%;
    min-width: 500px;
    height: 100%;
    background: url('../img/bg/one-bg-m.png') top center no-repeat;
    background-size: 100%;
    z-index: -1;
    opacity: 0.6;
  }
}
.section.one-section .media-block {
  z-index: 1;
}
@media (max-width: 1200px) {
  .section.one-section .media-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
  }
}
.section.one-section .media-block:before {
  content: '';
  position: absolute;
  top: -110px;
  right: -190px;
  width: 1065px;
  height: 100%;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .section.one-section .media-block:before {
    background: url('../img/bg/one-bg.png') top center no-repeat;
    background-size: 100%;
  }
}
@media (max-width: 1200px) {
  .section.one-section .media-block:before {
    display: none;
  }
}
.section.one-section .media-block img {
  display: block;
  width: 1140px;
  margin-left: -185px;
}
@media (max-width: 1200px) {
  .section.one-section .media-block img {
    width: auto;
    max-width: 700px;
    min-width: 700px;
    margin: -50px 0;
  }
}
.section.two-section:before {
  content: '';
  position: absolute;
  bottom: 110px;
  left: 50%;
  width: 1920px;
  height: 1000px;
  background: url('../img/bg/two-bg.png') top center no-repeat;
  background-size: 100%;
  opacity: 0.8;
  z-index: -1;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.section.two-section .media-block {
  z-index: 1;
}
@media (max-width: 1200px) {
  .section.two-section .media-block {
    padding-top: 50px;
  }
}
.section.two-section .media-block img {
  width: 700px;
  margin-left: -130px;
  margin-bottom: -145px;
}
@media (max-width: 1200px) {
  .section.two-section .media-block img {
    max-width: 100%;
    min-width: 490px;
    margin-left: -90px;
    margin-bottom: -75px;
  }
}
.section.three-section:before {
  content: '';
  position: absolute;
  top: -90px;
  left: 50%;
  width: 1920px;
  height: 1000px;
  background: url('../img/bg/three-bg.png') top center no-repeat;
  background-size: 100%;
  opacity: 0.7;
  z-index: -1;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.section.three-section .media-block {
  z-index: 1;
}
@media (max-width: 1200px) {
  .section.three-section .media-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.section.three-section .media-block img {
  width: 700px;
}
@media (max-width: 1200px) {
  .section.three-section .media-block img {
    width: auto;
    min-width: 500px;
    max-width: 100%;
    margin-right: -50px;
    margin-bottom: -50px;
  }
}
.section .block {
  display: block;
  position: relative;
  width: 50%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .section .block {
    width: 100%;
    text-align: center;
  }
}
.section .block .title-box {
  display: block;
  padding-bottom: 35px;
}
@media (max-width: 1200px) {
  .section .block .title-box {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
.section .block .title-box p {
  display: block;
  font-family: 'SF-UI-Display-Light';
  font-size: 48px;
  color: #ffffff;
  line-height: 1.1;
}
@media (max-width: 1200px) {
  .section .block .title-box p {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .section .block .title-box p br {
    display: none;
  }
}
.section .block .text-box {
  display: block;
}
@media (max-width: 1200px) {
  .section .block .text-box {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
.section .block .text-box p {
  display: block;
  font-family: 'SF-UI-Display-Light';
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}
.section .block .app-rows {
  display: block;
  padding-top: 70px;
}
@media (max-width: 1200px) {
  .section .block .app-rows {
    padding-top: 35px;
  }
}
.section .block .app-rows_content {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 1200px) {
  .section .block .app-rows_content {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .section .block .app-rows_content {
    margin: 0 -5px;
  }
}
.section .block .app-rows_content .block {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 100%;
  max-width: 220px;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .section .block .app-rows_content .block {
    margin: 10px 5px;
  }
}
.section .block .app-rows_content .block:hover .app-hide {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.section .block .app-rows_content .block a {
  display: inline-block;
  line-height: 0;
}
.section .block .app-rows_content .block a img {
  max-width: 100%;
}
.section .block .app-rows_content .block .app-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: default;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.section .block .app-rows_content .block .app-hide span {
  display: inline-block;
  font-family: 'SF-UI-Display-Light';
  font-size: 20px;
  color: #33c474;
}
.features-section {
  display: block;
  padding: 50px 0 20px 0;
}
.features-section_title {
  display: block;
  text-align: center;
  padding-bottom: 12px;
}
.features-section_title p {
  display: block;
  font-family: 'SF-UI-Display-Light';
  font-size: 48px;
  color: #ffffff;
  line-height: 1.2;
}
@media (max-width: 1200px) {
  .features-section_title p {
    font-size: 30px;
  }
}
.features-section_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -13px;
}
.features-section_content .block {
  display: inline-block;
  flex: 1;
  min-width: 275px;
  background-color: rgba(61, 37, 93, 0.5);
  border-radius: 12px;
  padding: 30px 30px 35px;
  margin: 13px;
}
@media (max-width: 1200px) {
  .features-section_content .block {
    padding: 30px 15px 35px;
  }
}
.features-section_content .block .icon-box {
  display: block;
  width: 88px;
  height: 88px;
  margin: 0 auto 10px;
}
.features-section_content .block .icon-box.icon-one {
  background: url('../img/icons/icon-users.png') center no-repeat;
  background-size: 100%;
}
.features-section_content .block .icon-box.icon-two {
  background: url('../img/icons/icon-dollar.png') center no-repeat;
  background-size: 100%;
}
.features-section_content .block .icon-box.icon-three {
  background: url('../img/icons/icon-card.png') center no-repeat;
  background-size: 100%;
}
.features-section_content .block .desc-box {
  display: block;
  text-align: center;
}
.features-section_content .block .desc-box p {
  display: block;
  font-family: 'SF-UI-Display-Light';
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
}
@media (max-width: 1200px) {
  .features-section_content .block .desc-box p {
    font-size: 16px;
  }
}
.footer {
  display: block;
  padding: 35px 0;
}
.footer .app-rows {
  display: block;
}
.footer .app-rows_title {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
.footer .app-rows_title p {
  display: block;
  font-family: 'SF-UI-Display-Light';
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
}
@media (max-width: 480px) {
  .footer .app-rows_title p {
    font-size: 14px;
  }
}
.footer .app-rows_content {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}
@media (max-width: 480px) {
  .footer .app-rows_content {
    margin: 0 -5px;
  }
}
.footer .app-rows_content .block {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 100%;
  max-width: 220px;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .footer .app-rows_content .block {
    margin: 10px 5px;
  }
}
.footer .app-rows_content .block:hover .app-hide {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.footer .app-rows_content .block a {
  display: inline-block;
  line-height: 0;
}
.footer .app-rows_content .block a img {
  max-width: 100%;
}
.footer .app-rows_content .block .app-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: default;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .app-rows_content .block .app-hide span {
  display: inline-block;
  font-family: 'SF-UI-Display-Light';
  font-size: 20px;
  color: #33c474;
}
.footer .copyright {
  display: block;
  text-align: center;
  padding-top: 70px;
  margin: 0 -8px;
}
@media (max-width: 960px) {
  .footer .copyright {
    padding-top: 30px;
  }
}
.footer .copyright span {
  display: inline-block;
  font-family: 'SF-UI-Display-Light';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  padding: 8px;
}
.footer .copyright .link {
  display: inline-block;
  font-family: 'SF-UI-Display-Light';
  font-size: 14px;
  color: rgba(168, 85, 189, 0.5);
  margin: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .copyright .link:hover {
  color: #a855bd;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */